*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #fff;
  color: black;
  }

.Search-Books{
  margin-top: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #fff;
  padding: 10px;
  padding-right:400px;
  position: relative;
  display: flex;
  display: flex;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 5px;
  color:rgb(0, 0, 0);
  margin-top: -45px;
  
}

.books-container {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book {
  width: 30%; 
  margin-bottom: 20px;
}

.books-container{
  margin-left: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body{
  background-color: #fff;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
