body{
  background-image: linear-gradient(rgb(0, 0, 0), rgb(47, 47, 124), rgb(166, 166, 255));
}
.App {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.logo {
  max-width: 100px;
}

.search-container {
  display: flex;
  align-items: center;
}

.register-button {
  margin-left: 10px;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: #45a049;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  z-index: 1000;
  color: black;
}

.popup-content {
  text-align: left;
  
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  width: 250px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px; 
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.logo {
  max-width: 100px;
}

.search-section{
   margin-top: 10px;
}
.Search-Books{
  background-color: #ccc;
  color: #000;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  padding: 20px;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.register-form label {
  margin-bottom: 10px;
}

.register-form input {
  
  padding: 8px;
  margin-bottom: 15px;
  width: 250px;
}

.register-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #45a049;
}

.register-form .error-message {
  color: red;
}



